/* Set all parents to full height */
html, body, 
.container,
#particles { 
	height: 100%;
}
header {
  position: absolute;
  top: 45%;
  left: 25%;
  text-align: center;
}
.bg-portrait {
    width: 100%;
    height: 100%;
    background-color: #222;
    background: url('../img/bg-portrait.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}
.bg-portrait section {
	position: absolute;
	width: 100%;
}
.intro {
	height: 100%;
}
.title_icon img	{
	height: auto;
    vertical-align: middle;
}

.title_icon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 23px;
    left: 0px;
    background: #bababa;
}
/*About Me Start*/
#about_me {
	max-width: 950px;
	height: 100%;
	top: 100%;
	text-align: center;
}

/*About Me End*/

/*My Skills Start*/
#my_skills {
	height: auto;
	max-height: auto;
}
#my_skills .skills {
	height: auto;
	background: #f7ddbe;
	text-align: center
}
#my_skills .shelf_left {
	border-right: 3px solid black;
}
#my_skills aside .shelf_item {
	width: 100%;
	float: left;
	margin:0 0 5px 10%;
}
#my_skills aside .shelf_item h2 {
	width: 30%;
	color: black;
}

#my_skills .shelf_left aside img {
	width: 40%;
}

#my_skills .shelf_right img {
	width: 60%;
}
/*My Skills End*/

/*Projects Start*/
#projects	{
	height: auto;
	background: #1f2a30;
}
.projects_title {
	width: 100%;
	height: 20%;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
#projects div {	
	border: 1px solid white;
	background: #000;
}
#projects .row_top div {	
	border-bottom: none;
}


#projects div img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
/*Projects End*/

/*Footer Start*/
#footer	{
	height: 12.56%;
	background: #000;
	text-align: center;
}
/*Footer End*/