/* Set all parents to full height */
html, body, 
.container { 
	height: 100%;
}
header {
  position: absolute;
  top: 45%;
  left: 25%;
  text-align: center;
}
header h1, header h1:before, header h1:after {
	border: none;
	color: white;
}
header .typed {
	color: #ff9999;
}
.bg-portrait {
    width: 100%;
    background-color: #222;
    background: url('../img/bg-whole-on.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 0;
}

.bg-portrait .intro {
	width: 100%;
	height: 50%;
	background: black;
	opacity: 0.6;
	position: relative;
}
.bg-portrait .post-it {
	width: 100%;
	height: 50%;
	position: relative;
  	margin: 0 auto;
}
.title_icon img	{
	height: auto;
    vertical-align: middle;
}

.title_icon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 23px;
    left: 0px;
    background: #bababa;
}
.position {
  width: 50%;
  padding-bottom: 2%;
  float: left;
  overflow: hidden;
}
.position:nth-of-type(odd) img{
	width: 20%;
	margin-right: 10%;
	float: right;
}
.position:nth-of-type(even) img{
	width: 20%;
	margin-left: 10%;
	float: left;
}

/*Projects Start*/
#projects {
	max-width: 100%;
	height: auto;
	margin: 0;
	background: #1f2a30;
}
.projects_title {
	width: 100%;
	height: 20%;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
#projects a {	
	border: 1px solid white;
	background: #000;
}
#projects .row_top a {	
	border-bottom: 0px;
}


#projects a img {
	width: 100%;
	vertical-align: top;
	transition: all 0.5s ease-in-out;
}
#projects a img:hover {
	opacity:  0.4;
}
/*Projects End*/

/*LinkedIn SVG Start*/
.linked-svg {
	max-width: 100%;	
	background-color: white;
}

/*LinkedIn SVG End*/

/*Footer Start*/
#footer	{
	max-width: 100%;
	height: 10%;
	background: #fff;
	text-align: center;
}
#footer p {	
	text-align: left;
	margin: 15px 0 7px 10px;
	color: #000;
}
#footer nav {
	margin: 10px 0 0px 0;
	float: right;
}
.nav ul {
  list-style: none;
  text-align: right;
  padding: 0 10px 0 0;
  margin: 5px 1px 0 0;
}
.nav li {
	height: 100%;
    display: inline-block;
    margin-right: 7%;
    line-height: 100%;
    border: 1px solid #fff;
}
.nav li:last-of-type {
    margin-right: 5px;
}
.nav a {
	width: 20px;
	height: 20px;
	color: #fff;
	display: block;
	background-image: url("http://billyfrench.com/sites/all/themes/jf/assets/img/sprite.svg");
 	background-position: center;
	background-position: -35px -65px;
}
/*Footer End*/