/* Set all parents to full height */
html, body, 
.container,
#particles section	{ 
	height: 100%;
}
header {
  position: absolute;
  z-index: 1000;
  top: 45%;
  left: 25%;
  text-align: center;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.title h2 {
	
}
#particles {
	background:#000;
	height:100%;
}

.title_icon img	{
	height: auto;
    vertical-align: middle;
}

.title_icon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 23px;
    left: 0px;
    background: #bababa;
}
/*About Me Start*/
#about_me {
	max-width: 950px;
	height: 100%;
	background: #fff;
	text-align: center;
}
#about_me .photo {
	height: auto;
	margin-right: 0;
	display: inline-block;
	position: relative;
	background-color: #ededed;
	float: left;
}
#about_me .photo img {
	width: 47%;
	max-height:585px;
	left: 25%;
	position: absolute;

}  
#about_me .photo .rectangle_items {
	position: relative;
	background-image: 
} 
#about_me .photo .rectangle	{
	width: 33.3%;
	height: 74.5px;
	float: left;
	z-index: 1;
	background: #000;
	opacity: 0.2;
    border: 1px solid white;
} 
#about_me .photo .rectangle:nth-of-type(4n+1) {
	background: #000;
	opacity: 0.6;
} 
#about_me .timeline	{
	height: 92%;
	margin-right: 0px;
	display: inline-block;
	position: relative;
	background: pink;
} 
#about_me .timeline .line {
	position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #bababa;
}
#about_me .timeline .timeline_item {
	display: block;
	overflow: hidden;
}
#about_me .timeline .timeline_icon {
	left: 47.20%;
	margin: 30px 0 0 0;
	position: absolute;
}
#about_me .timeline .timeline_date {
    width: 50%;
    position: relative;
    float: right;
}
#about_me .timeline .timeline_event	{
    width: 50%;
    position: relative;
    float: left;
}	

/*About Me End*/

/*My Skills Start*/
#my_skills {
	max-width: 950px;
	height: 66.66666666%;
	background: #f7ddbe;
	text-align: center;
}
#my_skills h1 {
	
}
#my_skills aside .shelf_item {
	width: 100%;
	float: left;
	margin:0 0 5px 30%;
}
#my_skills aside .shelf_item h1 {
	margin-top: 2em;
}

#my_skills aside .shelf_item img {
	width:40%;
	float: left;
}
/*My Skills End*/

/*Hobby Language Start*/
#hobby_language	{
	max-width: 950px;
	height: 100%;
	background: #1f2a30;
}
/*Hobby Language End*/

/*Footer Start*/
#footer	{
	max-width: 950px;
	height: 12.56%;
	background: #000;
}
/*Footer End*/