@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

#preloader {
    background-color: #182327;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9999999;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}


body {
	font-family:"Helvetica Neue", "Helvetica", "Roboto", 'Josefin Sans', sans-serif;
    font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*Keep same ratio cross-browser*/    
    zoom: 1; /* IE */
    -moz-transform: scale(1); /* Firefox */
    -moz-transform-origin: 0 0;
    -o-transform: scale(1); /* Opera */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1); /* Safari And Chrome */
    -webkit-transform-origin: 0 0;
    transform: scale(1); /* Standard Property */
    transform-origin: 0 0;  /* Standard Property */

}
@media  screen and (max-width: 320px) {

   body { font-size: 50%; }
}
@media  screen and (min-width: 321px) and (max-width: 1024px) {

   body { font-size: 75%; }
}
h1,h2,h3,p {
	color: #fff;
	text-rendering: optimizeLegibility;
    font-family: 'Cabin Sketch', cursive;
}
h1 {
	width:100%;
	font-weight: 300;
	color: #000;
	font-size: 2em;
}
h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 20px;
    color: #030303;
    font-family: 'PT Sans', sans-serif;
}
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 30px;
    color: #313131;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-color: #F3DF18;
}
/*h1:before {
    content: "";
    border: 2px solid #222223;
    width: 20%;
    display: block;
    margin: 0px auto;
}
h1:after {
    content: "";
    border: 2px solid #222223;
    width: 20%;
    display: block;
    margin: 0px auto;	
}*/



