/* General Blueprint Style */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}


body {
	font-family:"Helvetica Neue", "Helvetica", "Roboto", 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
@media  screen and (max-width: 320px) {

   body { font-size: 50%; }
}
@media  screen and (min-width: 321px) and (max-width: 1024px) {

   body { font-size: 75%; }
}
h1,h2,h3,p {
	color: #fff;
	text-rendering: optimizeLegibility;
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
	width:100%;
	margin: 90px 0 10px 0;
	font-weight: 600;
	color: #000;
	font-size: 2em;
	font-weight: bold;
}
p {
    font-size: 2em;
    font-weight: 300;
}
/*h1:before {
    content: "";
    border: 2px solid #222223;
    width: 20%;
    display: block;
    margin: 0px auto;
}
h1:after {
    content: "";
    border: 2px solid #222223;
    width: 20%;
    display: block;
    margin: 0px auto;	
}*/
h2 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5em;
}



