/* --------------------------------------------------------------
   grid.css
   * Custom-Percented*/
/* A container should group all your columns. */
.container {
  max-width: 70.375em;
  max-height: 100%;
  margin: 0 auto;
}

/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  float: left;
  /*margin-right: 0.62499999em;*/
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 4.16666666%;}

.span-2 {width: 8.33333332%;}
.span-3 {width: 12.4999999%;}
.span-4 {width: 16.6666666%;}
.span-5 {width: 20.8333333%;}
.span-6 {width: 24.9999999%;}
.span-7 {width: 29.1666666%;}
.span-8 {width: 33.3333332%;}
.span-9 {width: 37.4999999%;}
.span-10 {width: 41.6666666%;}
.span-11 {width: 45.8333332%;}
.span-12 {width: 49.9999999%;}
.span-13 {width: 54.1666665%;}
.span-14 {width: 58.3333332%;}
.span-15 {width: 62.4999999%;}
.span-16 {width: 66.6666665%;}
.span-17 {width: 70.8333332%;}
.span-18 {width: 74.9999998%;}
.span-19 {width: 79.1666665%;}
.span-20 {width: 83.3333332%;}
.span-21 {width: 87.4999998%;}
.span-22 {width: 91.6666665%;}
.span-23 {width: 95.8333331%;}
.span-24 {width:100%; margin-right:0;}
/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */
.clearfix:after, .container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
